* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
}

/* sidebar */

.sidebar {
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 10% auto;
  gap: 10px;
  border-right: 2px solid black;
}

.sidebar .dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 2rem;
}

.dashboard .icon {
  width: 10%;
}

.sidebar .menu-container {
  display: grid;
  grid-template-columns: minmax(100px, 50%);
  grid-template-rows: 1fr min-content;
  justify-content: center;
  gap: 50px;
}

.menu-container ul {
  list-style: none;
  font-size: 1.5rem;
}

.menu-one ul {
  display: grid;
  grid-template-rows: repeat(6, minmax(50px, 20%));
}

.menu-two ul {
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, 20%));
}

/* header */
