* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
}

/* sidebar */

.sidebar {
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 10% auto;
  gap: 10px;
  border-right: 2px solid black;
}

.sidebar .dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 2rem;
}

.dashboard .icon {
  width: 10%;
}

.sidebar .menu-container {
  display: grid;
  grid-template-columns: minmax(100px, 50%);
  grid-template-rows: 1fr min-content;
  justify-content: center;
  gap: 50px;
}

.menu-container ul {
  list-style: none;
  font-size: 1.5rem;
}

.menu-one ul {
  display: grid;
  grid-template-rows: repeat(6, minmax(50px, 20%));
}

.menu-two ul {
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, 20%));
}

/* header */

.header {
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-rows: repeat(2, 1fr);
}

.header .upper {
  display: grid;
  grid-template-columns: 75% auto;
}

.upper-left {
  display: grid;
}

.search {
  display: grid;
  grid-template-columns: 24px minmax(0, 1fr);
  grid-template-rows: auto;
  align-items: center;
  /* justify-items: center; */
  /* gap: 12px; */
  width: 100%;
}

.search button {
  all: unset;
  cursor: pointer;
  place-self: center;
}

.search input {
  width: 90%;
  border: 0;
  border-radius: 999px;
  background: #e2e8f0;
  padding: 0.5rem 1rem;
}

.upper-right {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-items: center;
}

.upper-right .id-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.upper-right p {
  font-size: 1.2rem;
  font-weight: 700;
}
