* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  font-family: Roboto, serif, sans-serif;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20% 80%;
}

/* sidebar */

.sidebar {
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 10% auto;
  gap: 10px;
  /* justify-items: start; */
  background-color: #1992d4;
  color: white;
  z-index: 3;
}

.sidebar .dashboard {
  font-weight: bold;
  font-size: 2rem;
  display: grid;
  align-items: center;
  padding: 1rem;
}

.dashboard .dashboard-items {
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
  gap: 10px;
}

.dashboard .icon {
  width: 40px;
  justify-self: end;
  filter: brightness(0) invert(1);
}

.sidebar .menu-container {
  font-weight: 500;
  display: grid;
  padding: 1rem;
}

.menu-container .menu-items {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 50px;
}

.menu-container ul {
  list-style: none;
  font-size: 1.5rem;
}

.menu-container li {
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
  gap: 10px;
}

.menu-container .menu-icons {
  width: 24px;
  filter: brightness(0) invert(1);
  justify-self: center;
}

.menu-one ul {
  display: grid;
  grid-template-rows: repeat(6, minmax(50px, 20%));
}

.menu-two ul {
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, 20%));
}

/* header */
/* upper */

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  z-index: 2;
}

.header .upper {
  display: grid;
  grid-template-columns: 60% auto;
}

.upper-left {
  display: grid;
}

.search {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding: 2rem;
}

.search .search-child {
  display: grid;
  grid-template-columns: 24px minmax(0, 1fr);
  width: 100%;
  max-width: 40vw;
  gap: 12px;
}

.search button {
  all: unset;
  cursor: pointer;
  place-self: center;
}

.search input {
  width: 100%;
  border: 0;
  height: 1.5rem;
  border-radius: 999px;
  background: #e2e8f0;
  padding: 0.5rem 1rem;
}

.upper-right {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-items: center;
  padding: 1rem 4rem 1rem 2rem;
  gap: 1em;
}

.upper-right .bell-icon {
  width: 20px;
  justify-self: end;
}

.upper-right .id-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.upper-right p {
  font-size: 1.2rem;
  font-weight: 700;
  justify-self: start;
}

/* header */
/* lower */

.lower {
  display: grid;
  grid-template-columns: 55% auto;
}

.lower-left {
  display: grid;
  padding: 0 2rem 0 2rem;
}

.lower-left .lower-left-items {
  display: grid;
  grid-template-columns: min-content auto;
  align-content: center;
  gap: 15px;
}

.lower-left-items .id-big {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.lower-left-items .id-text {
  align-self: center;
  font-weight: 700;
}

.id-text .lower-text {
  font-size: 1.2rem;
}

.id-text .upper-text {
  font-size: 0.8rem;
}

.lower-right {
  display: grid;
  padding: 1rem 4rem 1rem 4rem;
}

.lower-right .lower-right-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 0 3rem 0 3rem;
  gap: 40px;
}

.lower-right-items .action-btn {
  font-weight: 700;
  height: 2.3rem;
  width: 100%;
  border-radius: 999px;
  border: 0;
  background-color: #1992d4;
  color: white;
}

/* content */
/* content-left */

.content {
  display: grid;
  grid-template-columns: 75% auto;
  background-color: #e2e8f0;
  padding-right: 2rem;
}

.content-left {
  display: grid;
  grid-template-rows: min-content auto;
  padding: 3rem 2rem 3rem 2rem;
  gap: 0.5rem;
}

.content-left .project-title {
  font-size: 1.2rem;
}

.content-left .your-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  place-content: space-evenly;
  gap: 25px;
}

.your-projects .card {
  display: grid;
  width: 100%;
  max-width: 450px;
  background-color: white;
  border-left: 5px solid orange;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card .card-items {
  display: grid;
  grid-template-rows: auto min-content;
  align-items: center;
  padding: 1rem;
}

.card-itemsUp .title {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-itemsUp .para {
  font-size: 0.85rem;
  color: #4e4e4e;
}

.card-itemsDown {
  display: grid;
  justify-items: end;
}

.card-itemsDown .card-btn-container {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
}

.card-itemsDown .card-btn {
  all: unset;
  cursor: pointer;
}

.card-btn-container .cardbtn-icon {
  width: 20px;
}

/* content-right */

.content .content-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 3rem 2rem 3rem 0;
}

/* announcements panel */

.content .announcements {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 0.5rem;
}

.announcements h2 {
  font-size: 1.2rem;
}

.announcements .vertical-card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.announcement {
  padding: 0.5rem;
}

#bordered {
  border-bottom: 1px solid #c4c3c3;
}

.announcement .title {
  font-size: 1rem;
}

.announcement p {
  font-size: 0.8rem;
  color: #4e4e4e;
}

/* trending panel */

.content .trending {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 0.5rem;
}

.trending h2 {
  font-size: 1.2rem;
  padding-top: 2rem;
}

.trending .vertical-card {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trending-elements {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.7rem;
  align-items: center;
}

.trending-elements .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.trending-elements p {
  font-size: 1rem;
  font-weight: 500;
}

.trending-elements .description {
  font-size: 0.8rem;
  font-weight: 400;
  color: #4e4e4e;
}
